{% extends 'wrapper.html' %}
{% block content %}
<div class="row ps-3 pe-3">
    <div class="col-12 mt-5"></div>
    <div class="d-none d-md-block col-md-1 col-lg-2"></div>
    <div class="col-12 col-md-10 col-lg-8">
        <h2>About</h2>
        <p>Thank you for visiting my site! Keto Diet Lib is my entry for the <a href="https://dev.to/devteam/announcing-the-mongodb-atlas-hackathon-on-dev-4b6m">MongoDB Atlas Hackathon on DEV</a>. The category that I chose is <b>Choose Your Own Adventure</b> with the data service Atlas Search.</p>
        <p>I'd like to give credits to the following:</p>
        <ul>
            <li><a href="https://dev.to/">Dev</a> and <a href="https://www.mongodb.com/">Mongo DB</a> - for hosting such an amazing event for the community. Thanks to this, I'm able to learn MongoDB in a fun way.</li>
            <li><a href="https://www.myfooddata.com/">My Food Data</a> - for the comprehensive dataset and other amazing resources that I highly recommend everyone to check.</li>
            <li><a href="https://nutrita.app/">Nutrita</a> - for the Ketogenic Diet information.</li>
        </ul>
        <p>To know more about my work, please, check my <a href="https://netervati.pythonanywhere.com/">Portfolio</a>. You can also contact me directly via my email address: netervati@gmail.com. </p>
    </div>
    <div class="d-none d-md-block col-md-1 col-lg-2"></div>
</div>

{% endblock %}