{% extends 'wrapper.html' %}
{% block content %}
<div class="row ps-1 pe-1">
    <div class="col-12 mt-5"></div>
    <div class="d-none d-md-block col-md-1 col-lg-2"></div>
    <div class="col-12 col-md-10 col-lg-8">
        <form method="get" action="/search">
            <div class="row">
                <div class="col-10">
                    <input id="name" name="name" placeholder="Type Food..." class="form-control">
                </div>
                <div class="col-2">
                    <button class="btn btn-danger float-end">Search</button>
                </div>
            </div>
        </form>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <img width="300" src="{{url_for('static',filename='img/myburger-graphics.png') }}" />
                <div id="initial-splash">
                    <h3 class="title-flip show">Careful! Don't eat it yet without knowing how much <b class="text-danger"><u>carbs</u></b> it has.</h3>
                    <h3 class="title-flip show">Let's find out first. Click <b id="text-trigger"><a role="button" class="text-danger">Here</a></b>.</h3>
                </div>
                <h2 id="numProp" class="text-danger">0 g</h2>
                <h3 id="title-second">This is unhealthy for you. Check if your food has good amount of carbs by using the search bar above.</h3>
            </div>

            {% for x in text %}
                <p>{{x.group}}</p>
                <ul>
                {% for y in x.topdata %}
                    <li>{{ y.name }} - FATS: {{ y.fat }}, CARBS: {{ y.carbs }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
    <div class="d-none d-md-block col-md-1 col-lg-8"></div>
</div>

<script src="{{url_for('static', filename='js/landing.js') }}"></script>
{% endblock %}