<div class="row mt-5">
    <div class="d-none d-md-block col-md-2"></div>
    <div class="col-12 col-md-8">
        <form id="search-bar" method="get" action="/search">
            <div class="row">
                <div class="col-7">
                    <input id="name" name="name" value="{{name}}" placeholder="Type Food..." class="form-control">
                    <input id="page" name="page" type="number" value="{{page}}" hidden readonly>
                    <input id="returntotal" type="number" value="{{countreturn}}" hidden readonly>
                </div>
                <div class="col-3">
                    <select name="sort" class="form-select">
                        {% if sort == "0" %}
                            <option value="0" selected>Name (Asc)</option>
                            <option value="1">Name (Desc)</option>
                            <option value="2">Food Group (Asc)</option>
                            <option value="3">Food Group (Desc)</option>
                        {% elif sort == "1" %}
                            <option value="0">Name (Asc)</option>
                            <option value="1" selected>Name (Desc)</option>
                            <option value="2">Food Group (Asc)</option>
                            <option value="3">Food Group (Desc)</option>
                        {% elif sort == "2" %}
                            <option value="0">Name (Asc)</option>
                            <option value="1">Name (Desc)</option>
                            <option value="2" selected>Food Group (Asc)</option>
                            <option value="3">Food Group (Desc)</option>
                        {% elif sort == "3" %}
                            <option value="0">Name (Asc)</option>
                            <option value="1">Name (Desc)</option>
                            <option value="2">Food Group (Asc)</option>
                            <option value="3" selected>Food Group (Desc)</option>
                        {% else %}
                            <option value="0">Name (Asc)</option>
                            <option value="1">Name (Desc)</option>
                            <option value="2">Food Group (Asc)</option>
                            <option value="3">Food Group (Desc)</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-2">
                    <button class="btn btn-danger float-end">Search</button>
                </div>
            </div>
        </form>
        <br>
        <a data-flip="0" role="button" class="btn-nav float-start">Left</a>
        <a data-flip="1" role="button" class="btn-nav float-end">Right</a>
    </div>
    <div class="d-none d-md-block col-md-2"></div>
</div>